p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
.pum{
    color: blueviolet;
}
}
footer{
    background-color: crimson;
}

body{background-color: lawngreen   ;}


h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}