p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

}
footer{
    background-color: crimson;
}

body{background-color: lawngreen   ;}


h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}